r_decal_cullsize 1
exec joystick.cfg
exec autoexec.cfg
stuffcmds
startupmenu
sv_unlockedchapters 99



con_enable 1
wait 2; showconsole; incrementvar mat_aaquality 0 1 1; hideconsole

vgui_cache_res_files 0
tf_dashboard_slide_time 0.003
tf_mm_dashboard_slide_panel_step 0
tf_hud_target_id_alpha 255
tf_hud_target_id_disable_floating_health 1
tf_use_match_hud 0
cl_hud_playerclass_use_playermodel 0

alias 1q "toggle mat_aaquality"
alias zz "maxplayers 101; mp_respawnwavetime -1; mp_disable_respawn_times 1; sv_vote_creation_timer 1; sv_vote_failure_timer 1; sv_vote_issue_autobalance_cooldown 10; map itemtest; tf_bot_add 1"
alias xx "sv_allow_point_servercommand always; map workshop/606778917"
alias cc "sv_cheats 1; echo "addcond 56 (crits)"; echo "addcond 57 (uber)"

////////////////////////////////////////////////////////////////////////////////////////////////

alias "2010hud_folder" "ds_dir cfg/2010hud; ds_log 0; ds_record; ds_stop"
2010hud_folder

////////////////////////////////////////////////////////////////////////////////////////////////		SUBBUTTONS

alias subbuttons_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/subbuttons.txt"
alias subbuttons_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/subbuttons.txt"
alias subbuttons_unlog "con_logfile console.log"

alias subbuttons_2010 "subbuttons_clear; subbuttons_log; exec subbuttons_2010.cfg; subbuttons_unlog; toggle mat_aaquality"
alias subbuttons_2011_adv_options "subbuttons_clear; subbuttons_log; exec subbuttons_2011_adv_options.cfg; subbuttons_unlog; toggle mat_aaquality"
alias subbuttons_2011 "subbuttons_clear; toggle mat_aaquality"

////////////////////////////////////////////////////////////////////////////////////////////////		CHALLENGE

alias 2ci_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/challenge.txt"
alias 2ci_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/challenge.txt"
alias 2ci_unlog "con_logfile console.log"

alias 2ci_vivi "2ci_clear; 2ci_log; exec challenge.cfg; 2ci_unlog; toggle mat_aaquality"
alias 2bgs_vivi123123 "2ci_clear; 2ci_log; exec challenge_43.cfg; 2ci_unlog; toggle mat_aaquality"
alias 2bgs_vivi122123 "2ci_clear; 2ci_log; exec challenge_1610.cfg; 2ci_unlog; toggle mat_aaquality"
alias 2ci_tf2 "2ci_clear; toggle mat_aaquality"

////////////////////////////////////////////////////////////////////////////////////////////////		FAKE ACHIEVEMENTS

alias 21ci_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/achieve.txt"
alias 21ci_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/achieve.txt"
alias 21ci_unlog "con_logfile console.log"

alias 21ci_vivi "21ci_clear; 21ci_log; exec achieve.cfg; 21ci_unlog; toggle mat_aaquality"
alias 21bgs_vivi123123 "21ci_clear; 21ci_log; exec achieve_43.cfg; 21ci_unlog; toggle mat_aaquality"
alias 21bgs_vivi122123 "21ci_clear; 21ci_log; exec achieve_1610.cfg; 21ci_unlog; toggle mat_aaquality"
alias 21bgs_vivi113123 "21ci_clear; 21ci_log; exec achieve_p43.cfg; 21ci_unlog; toggle mat_aaquality"
alias 21bgs_vivi123173 "21ci_clear; 21ci_log; exec achieve_p1610.cfg; 21ci_unlog; toggle mat_aaquality"
alias 21ci_tf2 "21ci_clear; toggle mat_aaquality"

////////////////////////////////////////////////////////////////////////////////////////////////		CONTRACTS

alias 3ci_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/contracts.txt"
alias 3ci_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/contracts.txt"
alias 3ci_unlog "con_logfile console.log"

alias 3ci_vivi "3ci_clear; 3ci_log; exec contracts.cfg; 3ci_unlog; toggle mat_aaquality"
alias 3ci_tf2 "3ci_clear; toggle mat_aaquality"

////////////////////////////////////////////////////////////////////////////////////////////////		CHARACTER SETUP - MANAGE ITEMS

alias 4ci_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/loadoutbb.txt"
alias 4ci_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/loadoutbb.txt"
alias 4ci_unlog "con_logfile console.log"

alias 4ci_vivi "4ci_clear; 4ci_log; exec loadoutbb.cfg; 4ci_unlog; toggle mat_aaquality"
alias 4ci_tf2 "4ci_clear; toggle mat_aaquality"

////////////////////////////////////////////////////////////////////////////////////////////////		LOADOUT

alias 5ci_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/loadout2011.txt"
alias 5ci_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/loadout2011.txt"
alias 5ci_unlog "con_logfile console.log"

alias 5ci_vivi "5ci_clear; 5ci_log; exec loadout2010.cfg; 5ci_unlog; toggle mat_aaquality"
alias 5ci_vivi777 "5ci_clear; 5ci_log; exec loadout2017.cfg; 5ci_unlog; toggle mat_aaquality"
alias 5ci_tf2 "5ci_clear; toggle mat_aaquality"

////////////////////////////////////////////////////////////////////////////////////////////////		LOADOUT 2

alias 6ci_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/loadout20119.txt"
alias 6ci_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/loadout20119.txt"
alias 6ci_unlog "con_logfile console.log"

alias 5ci_vivi7771 "6ci_clear"
alias 3223132132123 "6ci_clear; 6ci_log; exec loadouttitle.cfg; 6ci_unlog"

////////////////////////////////////////////////////////////////////////////////////////////////

alias 8ci_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/shop.txt"
alias 8ci_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/shop.txt"
alias 8ci_unlog "con_logfile console.log"

alias 8ci_vivi "8ci_clear; 8ci_log; exec shopbuttonhide.cfg; 8ci_unlog; toggle mat_aaquality"
alias 8bgs_vivi123123 "8ci_clear; 8ci_log; exec shopbuttonfriends.cfg; 8ci_unlog; toggle mat_aaquality"
alias 8ci_tf2 "8ci_clear; toggle mat_aaquality"

////////////////////////////////////////////////////////////////////////////////////////////////		RESUME GAME - replays

alias 39ci_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/resumegame.txt"
alias 39ci_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/resumegame.txt"
alias 39ci_unlog "con_logfile console.log"

alias resumegamehidden "39ci_clear; toggle mat_aaquality"
alias resumegame "39ci_clear; 39ci_log; exec resumegame.cfg; 39ci_unlog; toggle mat_aaquality"
alias resumegame_replays "39ci_clear; 39ci_log; exec resumegame_replays.cfg; 39ci_unlog; toggle mat_aaquality"

////////////////////////////////////////////////////////////////////////////////////////////////		CHARACTER LOADOUT - TAUNTS BUTTONS

alias 391ci_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/chartauntsb.txt"
alias 391ci_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/chartauntsb.txt"
alias 391ci_unlog "con_logfile console.log"

alias chartauntsb "391ci_clear; 391ci_log; exec chartauntsb.cfg; 391ci_unlog; toggle mat_aaquality"
alias chartauntsbhide "391ci_clear; toggle mat_aaquality"

////////////////////////////////////////////////////////////////////////////////////////////////		PASSIVE ATTRIBS

alias 331ci_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/passive.txt"
alias 331ci_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/passive.txt"
alias 331ci_unlog "con_logfile console.log"

alias passivehide "331ci_clear; 331ci_log; exec passive.cfg; 331ci_unlog; toggle mat_aaquality"
alias passive "331ci_clear; toggle mat_aaquality"

////////////////////////////////////////////////////////////////////////////////////////////////		pdaslot

alias 311ci_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/pdaslot.txt"
alias 311ci_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/pdaslot.txt"
alias 311ci_unlog "con_logfile console.log"

alias pdaslot "311ci_clear; 311ci_log; exec pdaslot.cfg; 311ci_unlog; toggle mat_aaquality"
alias pdaslothide "311ci_clear; toggle mat_aaquality"

////////////////////////////////////////////////////////////////////////////////////////////////		clientscheme

alias 341ci_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/client20102011.txt"
alias 341ci_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/client20102011.txt"
alias 341ci_unlog "con_logfile console.log"

alias client2010 "341ci_clear; 341ci_log; exec client2010.cfg; 341ci_unlog"
//alias client2011 "341ci_clear; 341ci_log; exec client2011.cfg; 341ci_unlog"
alias client2011 "341ci_clear"

////////////////////////////////////////////////////////////////////////////////////////////////		quit confirm

alias 36ci_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/quitgameconfirm.txt"
alias 36ci_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/quitgameconfirm.txt"
alias 36ci_unlog "con_logfile console.log"

alias quitgameconfirm "36ci_clear; 36ci_log; exec quitgameconfirm.cfg; 36ci_unlog; toggle mat_aaquality"
alias quitgameconfirmno "36ci_clear; toggle mat_aaquality"

////////////////////////////////////////////////////////////////////////////////////////////////		scoreboard rank

alias 16ci_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/scoreboardrank.txt"
alias 16ci_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/scoreboardrank.txt"
alias 16ci_unlog "con_logfile console.log"

alias scoreboardrankhide "16ci_clear; 16ci_log; exec scoreboardrank.cfg; 16ci_unlog; hud_reloadscheme"
alias scoreboardrank "16ci_clear; hud_reloadscheme"

////////////////////////////////////////////////////////////////////////////////////////////////		backgrounds / theme

alias bgs_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/bgs.txt"
alias bgs_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/bgs.txt"
alias bgs_unlog "con_logfile console.log"

alias bgs_saxxy "bgs_clear; bgs_log; exec bgs_saxxy.cfg; bgs_unlog; toggle mat_aaquality"
alias bgs_hl2 "bgs_clear; bgs_log; exec bgs_hl2.cfg; bgs_unlog; toggle mat_aaquality"
alias bgs_tf "bgs_clear; bgs_log; exec bgs_tf.cfg; bgs_unlog; toggle mat_aaquality"
alias bgs_tf2 "bgs_clear; toggle mat_aaquality"

////////////////////////////////////////////////////////////////////////////////////////////////		killstreak

alias killstreak_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/killstreak.txt"
alias killstreak_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/killstreak.txt"
alias killstreak_unlog "con_logfile console.log"

alias killstreakdefault "killstreak_clear; killstreak_log; exec killstreak.cfg; killstreak_unlog; hud_reloadscheme"
alias killstreakwar "killstreak_clear; hud_reloadscheme"

////////////////////////////////////////////////////////////////////////////////////////////////		killstreak fix

alias killstreakfix_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/killstreakfix.txt"
alias killstreakfix_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/killstreakfix.txt"
alias killstreakfix_unlog "con_logfile console.log"

alias killstreakdefaultfix "killstreakfix_clear; killstreakfix_log; exec killstreakfix.cfg; killstreakfix_unlog"
alias killstreakwarfix "killstreakfix_clear"

////////////////////////////////////////////////////////////////////////////////////////////////		presets

alias presets_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/presets.txt"
alias presets_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/presets.txt"
alias presets_unlog "con_logfile console.log"

alias presetshide "presets_clear; presets_log; exec presets.cfg; presets_unlog; toggle mat_aaquality"
alias presets "presets_clear; toggle mat_aaquality"

////////////////////////////////////////////////////////////////////////////////////////////////		start playing command

alias startplaying_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/startplaying.txt"
alias startplaying_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/startplaying.txt"
alias startplaying_unlog "con_logfile console.log"

alias startplayingcommunity "startplaying_clear; startplaying_log; exec startplaying.cfg; startplaying_unlog; toggle mat_aaquality"
alias startplaying "startplaying_clear; toggle mat_aaquality"