//exec recommendedsettings.cfg

r_decal_cullsize 1
exec joystick.cfg
exec autoexec.cfg
//exec 2010hud/recommendedsettings.txt
stuffcmds
startupmenu
sv_unlockedchapters 99

con_enable 1
wait 2; showconsole; incrementvar mat_aaquality 0 1 1; hideconsole

hostname Team Fortress 2
vgui_cache_res_files 0
vgui_ui_scale_factor 0
tf_dashboard_slide_time 0.007
tf_mm_dashboard_slide_panel_step 0
tf_store_stamp_donation_add_timestamp 1939001945
tf_inspect_hint_count 11
cl_hud_playerclass_playermodel_showed_confirm_dialog 1
cl_vote_non_input_alpha 255							//				add to github wiki❌❌❌❌⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️
tf_scoreboard_ping_as_text 1
tf_hud_target_id_alpha 255
tf_hud_target_id_disable_floating_health 1
tf_use_match_hud 0
cl_hud_playerclass_use_playermodel 0
cl_showbackpackrarities 0
tf_contract_progress_show 0
tf_contract_competitive_show 0
cl_disablehtmlmotd 1
glow_outline_effect_enable 0
tf_enable_glows_after_respawn 0
tf_dingalingaling_lasthit 0
tf_use_min_viewmodels 0

alias 1q "toggle mat_aaquality"
alias zz "maxplayers 101; mp_respawnwavetime -1; mp_disable_respawn_times 1; sv_vote_creation_timer 1; sv_vote_failure_timer 1; sv_vote_issue_autobalance_cooldown 10; map itemtest"
alias xx "sv_allow_point_servercommand always; map workshop/606778917"
alias cc "sv_cheats 1; echo "addcond 56 (crits)"; echo "addcond 57 (uber)"; echo "addcond 72 (fast attack & reload)"
alias vv "mp_waitingforplayers_cancel 1"
alias bb "sv_cheats 1; host_timescale 15"



// manage the firstrun file
alias chud_firstrun "exec hud_firstrun"
exec 2010hud_has_run.txt
chud_firstrun









////////////////////////////////////////////////////////////////////////////////////////////////

alias "2010hud_folder" "ds_dir cfg/2010hud; ds_log 0; ds_record; ds_stop"
2010hud_folder

////////////////////////////////////////////////////////////////////////////////////////////////		credits

alias vivi_credits "snd_restart; play ui/gamestartup7.mp3"

////////////////////////////////////////////////////////////////////////////////////////////////		RecommendedSettings

//alias recommendedsettings_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/recommendedsettings.txt"
//alias recommendedsettings_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/recommendedsettings.txt"
//alias recommendedsettings_unlog "con_logfile console.log"

//alias recommendedsettings "recommendedsettings_clear; recommendedsettings_log; exec recommendedsettings/list.cfg; recommendedsettings_unlog; exec 2010hud/recommendedsettings.txt"
//alias recommendedsettings2 "recommendedsettings_clear; exec 2010hud/recommendedsettings.txt; exec autoexec.cfg"

////////////////////////////////////////////////////////////////////////////////////////////////		SUBBUTTONS

alias subbuttons_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/subbuttons.txt"
alias subbuttons_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/subbuttons.txt"
alias subbuttons_unlog "con_logfile console.log"

alias subbuttons_2010 "subbuttons_clear; subbuttons_log; exec subbuttons_2010.cfg; subbuttons_unlog"
alias subbuttons_2011_adv_options "subbuttons_clear; subbuttons_log; exec subbuttons_2011_adv_options.cfg; subbuttons_unlog"
alias subbuttons_2011 "subbuttons_clear"

////////////////////////////////////////////////////////////////////////////////////////////////		CHALLENGE

alias 2ci_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/challenge.txt"
alias 2ci_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/challenge.txt"
alias 2ci_unlog "con_logfile console.log"

alias 2ci_vivi "2ci_clear; 2ci_log; exec challenge.cfg; 2ci_unlog"
alias 2bgs_vivi123123 "2ci_clear; 2ci_log; exec challenge_43.cfg; 2ci_unlog"
alias 2bgs_vivi122123 "2ci_clear; 2ci_log; exec challenge_1610.cfg; 2ci_unlog"
alias 2ci_tf2 "2ci_clear"

////////////////////////////////////////////////////////////////////////////////////////////////		FAKE ACHIEVEMENTS

alias 21ci_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/achieve.txt"
alias 21ci_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/achieve.txt"
alias 21ci_unlog "con_logfile console.log"

alias 21ci_vivi "21ci_clear; 21ci_log; exec achieve.cfg; 21ci_unlog"
alias 21bgs_vivi123123 "21ci_clear; 21ci_log; exec achieve_43.cfg; 21ci_unlog"
alias 21bgs_vivi122123 "21ci_clear; 21ci_log; exec achieve_1610.cfg; 21ci_unlog"
alias 21bgs_vivi113123 "21ci_clear; 21ci_log; exec achieve_p43.cfg; 21ci_unlog"
alias 21bgs_vivi123173 "21ci_clear; 21ci_log; exec achieve_p1610.cfg; 21ci_unlog"
alias 21ci_tf2 "21ci_clear"

////////////////////////////////////////////////////////////////////////////////////////////////		CONTRACTS

alias contracts_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/contracts.txt"
alias contracts_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/contracts.txt"
alias contracts_unlog "con_logfile console.log"

alias contracts_on "contracts_clear; contracts_log; exec mainmenu/contracts.cfg; contracts_unlog"
alias contracts_off "contracts_clear"

////////////////////////////////////////////////////////////////////////////////////////////////		CHARACTER SETUP - MANAGE ITEMS

alias 4ci_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/loadoutbb.txt"
alias 4ci_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/loadoutbb.txt"
alias 4ci_unlog "con_logfile console.log"

alias loadout_button_2010 "4ci_clear; 4ci_log; exec loadout/loadout_label_2010.cfg; 4ci_unlog"
alias loadout_button_2011 "4ci_clear"

////////////////////////////////////////////////////////////////////////////////////////////////		LOADOUT

alias 5ci_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/loadout2011.txt"
alias 5ci_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/loadout2011.txt"
alias 5ci_unlog "con_logfile console.log"

alias 5ci_vivi "5ci_clear; 5ci_log; exec loadout/loadout2010.cfg; 5ci_unlog"
alias 5ci_vivi777 "5ci_clear; 5ci_log; exec loadout/loadout2017.cfg; 5ci_unlog"
alias 5ci_tf2 "5ci_clear"

////////////////////////////////////////////////////////////////////////////////////////////////		LOADOUT 2

alias 6ci_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/loadout20119.txt"
alias 6ci_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/loadout20119.txt"
alias 6ci_unlog "con_logfile console.log"

alias 5ci_vivi7771 "6ci_clear"
alias 3223132132123 "6ci_clear; 6ci_log; exec loadout/loadout_2010.cfg; 6ci_unlog"

////////////////////////////////////////////////////////////////////////////////////////////////

alias 8ci_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/shop.txt"
alias 8ci_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/shop.txt"
alias 8ci_unlog "con_logfile console.log"

alias 8ci_vivi "8ci_clear; 8ci_log; exec shopbuttonhide.cfg; 8ci_unlog"
alias 8bgs_vivi123123 "8ci_clear; 8ci_log; exec shopbuttonfriends.cfg; 8ci_unlog"
alias 8ci_tf2 "8ci_clear"

////////////////////////////////////////////////////////////////////////////////////////////////		RESUME GAME - replays

alias 39ci_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/resumegame.txt"
alias 39ci_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/resumegame.txt"
alias 39ci_unlog "con_logfile console.log"

alias resumegamehidden "39ci_clear"
alias resumegame "39ci_clear; 39ci_log; exec resumegame.cfg; 39ci_unlog"
alias resumegame_replays "39ci_clear; 39ci_log; exec resumegame_replays.cfg; 39ci_unlog"

////////////////////////////////////////////////////////////////////////////////////////////////		CHARACTER LOADOUT - TAUNTS BUTTONS

alias 391ci_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/chartauntsb.txt"
alias 391ci_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/chartauntsb.txt"
alias 391ci_unlog "con_logfile console.log"

alias chartauntsb "391ci_clear; 391ci_log; exec loadout/loadout_taunts.cfg; 391ci_unlog"
alias chartauntsbhide "391ci_clear"

////////////////////////////////////////////////////////////////////////////////////////////////		PASSIVE ATTRIBS

alias 331ci_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/passive.txt"
alias 331ci_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/passive.txt"
alias 331ci_unlog "con_logfile console.log"

alias passivehide "331ci_clear; 331ci_log; exec loadout/passive.cfg; 331ci_unlog"
alias passive "331ci_clear"

////////////////////////////////////////////////////////////////////////////////////////////////		pda hat misc slot slots

alias slot_pda_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/slot_pda.txt"
alias slot_pda_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/slot_pda.txt"
alias slot_pda_unlog "con_logfile console.log"

alias slot_pda "slot_pda_clear; slot_pda_log; exec slot_pda.cfg; slot_pda_unlog"
alias slot_pda_hide "slot_pda_clear"
alias slot_misc_hide "slot_pda_clear; slot_pda_log; exec slot_misc_hide.cfg; slot_pda_unlog"
alias slot_misc_hat_hide "slot_pda_clear; slot_pda_log; exec slot_misc_hat_hide.cfg; slot_pda_unlog"

////////////////////////////////////////////////////////////////////////////////////////////////		clientscheme

alias 341ci_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/client20102011.txt"
alias 341ci_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/client20102011.txt"
alias 341ci_unlog "con_logfile console.log"

alias client2010 "341ci_clear; 341ci_log; exec client2010.cfg; 341ci_unlog"
alias client2011 "341ci_clear"

////////////////////////////////////////////////////////////////////////////////////////////////		quit confirm

alias 36ci_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/quitgameconfirm.txt"
alias 36ci_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/quitgameconfirm.txt"
alias 36ci_unlog "con_logfile console.log"

alias quitgameconfirm "36ci_clear; 36ci_log; exec mainmenu/quitgameconfirm.cfg; 36ci_unlog"
alias quitgameconfirmno "36ci_clear"

////////////////////////////////////////////////////////////////////////////////////////////////		rank medal

alias rank_medal_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/rank_medal.txt"
alias rank_medal_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/rank_medal.txt"
alias rank_medal_unlog "con_logfile console.log"

alias rank_medal "rank_medal_clear; rank_medal_log; exec ingame/rank_medal.cfg; rank_medal_unlog; hud_reloadscheme"
alias rank_medal_hide "rank_medal_clear; hud_reloadscheme"

////////////////////////////////////////////////////////////////////////////////////////////////		backgrounds / theme

alias bgs_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/bgs.txt"
alias bgs_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/bgs.txt"
alias bgs_unlog "con_logfile console.log"

alias bgs_saxxy "bgs_clear; bgs_log; exec mainmenu/theme_saxxy.cfg; bgs_unlog"
alias bgs_hl2 "bgs_clear; bgs_log; exec mainmenu/theme_hl2.cfg; bgs_unlog"
alias bgs_tf "bgs_clear; bgs_log; exec mainmenu/theme_tf.cfg; bgs_unlog"
alias bgs_tf_ingame "bgs_clear; bgs_log; exec mainmenu/theme_tf_ingame.cfg; bgs_unlog"
alias bgs_tf2 "bgs_clear"

////////////////////////////////////////////////////////////////////////////////////////////////		killstreak

alias killstreak_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/killstreak.txt"
alias killstreak_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/killstreak.txt"
alias killstreak_unlog "con_logfile console.log"

alias killstreakdefault "killstreak_clear; killstreak_log; exec ingame/killstreak.cfg; killstreak_unlog; hud_reloadscheme"
alias killstreakwar "killstreak_clear; hud_reloadscheme"

////////////////////////////////////////////////////////////////////////////////////////////////		killstreak fix

alias killstreakfix_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/killstreakfix.txt"
alias killstreakfix_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/killstreakfix.txt"
alias killstreakfix_unlog "con_logfile console.log"

alias killstreakdefaultfix "killstreakfix_clear; killstreakfix_log; exec ingame/killstreak_fix.cfg; killstreakfix_unlog"
alias killstreakwarfix "killstreakfix_clear"

////////////////////////////////////////////////////////////////////////////////////////////////		presets

alias presets_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/presets.txt"
alias presets_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/presets.txt"
alias presets_unlog "con_logfile console.log"

alias presetshide "presets_clear; presets_log; exec loadout/presets.cfg; presets_unlog"
alias presets "presets_clear"

////////////////////////////////////////////////////////////////////////////////////////////////		start playing command

alias startplaying_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/startplaying.txt"
alias startplaying_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/startplaying.txt"
alias startplaying_unlog "con_logfile console.log"

alias startplayingcommunity "startplaying_clear; startplaying_log; exec mainmenu/startplaying.cfg; startplaying_unlog"
alias startplaying "startplaying_clear"

////////////////////////////////////////////////////////////////////////////////////////////////		quality color borders

alias qualitycolorborders_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/qualitycolorborders.txt"
alias qualitycolorborders_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/qualitycolorborders.txt"
alias qualitycolorborders_unlog "con_logfile console.log"

alias qualitycolorborders "qualitycolorborders_clear; qualitycolorborders_log; exec loadout/qualitycolorborders.cfg; qualitycolorborders_unlog"
alias qualitycolorbordershide "qualitycolorborders_clear; cl_showbackpackrarities 0"

////////////////////////////////////////////////////////////////////////////////////////////////		quality icons

alias qualityicons_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/qualityicons.txt"
alias qualityicons_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/qualityicons.txt"
alias qualityicons_unlog "con_logfile console.log"

alias qualityicons_hide "qualityicons_clear; qualityicons_log; exec loadout/qualityicons.cfg; qualityicons_unlog"
alias qualityicons "qualityicons_clear"

////////////////////////////////////////////////////////////////////////////////////////////////		loading screen

alias loadingscreen_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/loadingscreen.txt"
alias loadingscreen_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/loadingscreen.txt"
alias loadingscreen_unlog "con_logfile console.log"

alias loadingscreen2010 "loadingscreen_clear; loadingscreen_log; exec loadingscreen.cfg; loadingscreen_unlog"
alias loadingscreen2011 "loadingscreen_clear"

////////////////////////////////////////////////////////////////////////////////////////////////		main menu borders

alias mainmenuborders_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/mainmenuborders.txt"
alias mainmenuborders_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/mainmenuborders.txt"
alias mainmenuborders_unlog "con_logfile console.log"

alias mainmenuborders_hide "mainmenuborders_clear; mainmenuborders_log; exec mainmenuborders_hide.cfg; mainmenuborders_unlog"
alias mainmenuborders_friends "mainmenuborders_clear; mainmenuborders_log; exec mainmenuborders_friends.cfg; mainmenuborders_unlog"
alias mainmenuborders "mainmenuborders_clear"

////////////////////////////////////////////////////////////////////////////////////////////////		buildings ui - sentry

alias buildingsui_sentry_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/buildingsui_sentry.txt"
alias buildingsui_sentry_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/buildingsui_sentry.txt"
alias buildingsui_sentry_unlog "con_logfile console.log"

alias buildingsui_sentry2010 "buildingsui_sentry_clear; buildingsui_sentry_log; exec ingame/buildingsui_sentry.cfg; buildingsui_sentry_unlog"
alias buildingsui_sentry2010_qhd "buildingsui_sentry_clear; buildingsui_sentry_log; exec ingame/buildingsui_sentry_qhd.cfg; buildingsui_sentry_unlog"
alias buildingsui_sentry2011 "buildingsui_sentry_clear"

////////////////////////////////////////////////////////////////////////////////////////////////		buildings ui - dispenser

alias buildingsui_dispenser_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/buildingsui_dispenser.txt"
alias buildingsui_dispenser_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/buildingsui_dispenser.txt"
alias buildingsui_dispenser_unlog "con_logfile console.log"

alias buildingsui_dispenser2010 "buildingsui_dispenser_clear; buildingsui_dispenser_log; exec ingame/buildingsui_dispenser.cfg; buildingsui_dispenser_unlog"
alias buildingsui_dispenser2010_qhd "buildingsui_dispenser_clear; buildingsui_dispenser_log; exec ingame/buildingsui_dispenser_qhd.cfg; buildingsui_dispenser_unlog"
alias buildingsui_dispenser2011 "buildingsui_dispenser_clear"

////////////////////////////////////////////////////////////////////////////////////////////////		buildings ui - teleporter

alias buildingsui_teleporter_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/buildingsui_teleporter.txt"
alias buildingsui_teleporter_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/buildingsui_teleporter.txt"
alias buildingsui_teleporter_unlog "con_logfile console.log"

alias buildingsui_teleporter2010 "buildingsui_teleporter_clear; buildingsui_teleporter_log; exec ingame/buildingsui_teleporter.cfg; buildingsui_teleporter_unlog"
alias buildingsui_teleporter2010_qhd "buildingsui_teleporter_clear; buildingsui_teleporter_log; exec ingame/buildingsui_teleporter_qhd.cfg; buildingsui_teleporter_unlog"
alias buildingsui_teleporter2011 "buildingsui_teleporter_clear"

////////////////////////////////////////////////////////////////////////////////////////////////		buildings ui - disposable sentry

alias buildingsui_sentry_disp_clear "sixense_clear_bindings; sixense_write_bindings 2010hud/buildingsui_sentry_disp.txt"
alias buildingsui_sentry_disp_log "con_filter_text #base; con_filter_enable 1; con_logfile cfg/2010hud/buildingsui_sentry_disp.txt"
alias buildingsui_sentry_disp_unlog "con_logfile console.log"

alias buildingsui_sentry_disp2010 "buildingsui_sentry_disp_clear; buildingsui_sentry_disp_log; exec ingame/buildingsui_sentry_disp.cfg; buildingsui_sentry_disp_unlog"
alias buildingsui_sentry_disp2011 "buildingsui_sentry_disp_clear"